
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo del header */
header {
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-width: 100px;
    width: 100%;
    margin: 0;
    color: #fff;
     
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilo del logo */
.logo {
    display: flex;    
    text-decoration: none;    
}
.logo img {
    height: 50px;
    margin-right: 10px;    
}
/* Estilo de la navegación */
nav {
    display: flex;    
    flex-wrap: wrap;

}
.nav-link {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    transition: background-color 0.3s;
    
}

.nav-link:hover {
    background-color: #555;
    border-radius: 4px;
}

.container {
    position: relative; /* o position: absolute si es necesario */
    width: 100%;

}
.trabajo { 
    color: #000000;
    text-decoration: none;     
    margin: 5px;     
    display: grid;
    grid-template-columns: auto ;
    justify-content: end ;                                                     
}

.trabajo::after {
    content: ''; /* Requerido para que el pseudo-elemento aparezca */    
    width: 100vw; /* Ocupa todo el ancho de la vista (viewport) */
    height: 1px; /* Grosor de la línea */
    background-color: #000000; /* Color de la línea */
    position: absolute;
    bottom: 0; /* Posiciona la línea en la parte inferior del contenedor del texto */
     /* Alinea la línea al borde izquierdo del contenedor */
 }